<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- TODO: Replace with appropriate values -->
    <add key="businessCompanyNo" value="companyno" />
    <add key="businessSiteId" value="standard" />
    <add key="businessUsername" value="username" />
    <add key="businessPassword" value="password" />
    <add key="businessGenericServiceUrl" value="http://????????:2001/GenericService" />
    <add key="businessCertificatePath" value="" /> <!-- Not needed if you use thumbprint -->
    <add key="businessCertificateThumbprint" value="6293CA5D26C0DF52A7F6266761A02D3031CC3C26" /> <!--No spaces-->
  </appSettings>
</configuration>